@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/images/try1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

header{
    position: fixed;
    /* position: relative; */
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.taskify{
    color:#fff;
    user-select: none;
    font-size: 2em;
}

.user-icon{
    filter: brightness(0) invert(1);
}

.add-task{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    z-index: 50;

}

.add-task h1{
    font-size: 1.6em;
    font-weight: 300;
    margin: 50px 0 16px 0;
    color: antiquewhite;
}

#new-task{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input{
    flex: 1 1 0%;
    background-color:rgba(219, 219, 219, 0.485);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: white;

    overflow:hidden;
    resize: none;

}


::placeholder{
    color:#fff;
}

#new-task-submit{
    color: antiquewhite;
    font-weight: 700;
    font-size: medium;
    cursor:pointer;
    transition: 1s;
}


.main{
    flex: 1 1 0%;
    padding: 1rem;
    max-width: 800px;
    width:100%;
    margin: 0 auto;
}

.main h2{
    font-size: x-large;
    font-weight: 400;
    color:antiquewhite;
    margin-bottom: 1rem;
}

#tasks{
    background: transparent;
    /* border: 2px solid rgba(255,255,255,.5); */
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5) ;
    justify-content: center;
    align-items: center;
}


#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-radius:1rem;
    padding: 15px;
    gap:15px;    
    border: 1px solid beige;

}
.task-content {
    flex: 1; 
}

#tasks .task-content .text{
    color:#fff;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    background: transparent;
    border: none;
    /***********/
    resize: none;
    overflow: hidden;
    height: 25px;

}


.text:focus {
    outline: none; /* Remove the outline when the textarea is focused */
}

#tasks .task .content .text::not(:read-only){
    color: gray;
}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
    padding-right: 5px;
}

.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    transition: 0.4s;
    color: antiquewhite;
    font-weight: 600;
    transition: color 0.3s ease;
}

.actions .edit:hover{
    color:red;
}

.actions .delete:hover{
    color:rgb(125, 119, 119);
}


.editTask{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff6f;
    padding: 20px;
    z-index: 9999;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    z-index: 99;
}

#error{
    margin-top: 10px;
    font-weight: lighter;
    
}


/* PROFİL KISMIIII */
.profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#logoutButton {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: none;
    
}

.profile:hover #logoutButton {
    display: block;
    cursor: pointer;
}


